.card {
    border: none;
    width: 500px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: linear-gradient(90deg, rgb(47, 126, 204) 0%, rgb(185, 107, 204) 100%);
    box-shadow: inset;
}

.card h1 {
    color: #fff;
    font-family: serif;
    margin: 0px;
}

.card h6 {
    color: #fff;
    font-size: 15px;
    margin: 10px;
}

label {
    color: #fff;
}

.text-center {
    text-align: center;
}

.form-group {
    padding: 15px;
    width: 200px;
    margin-left: 30px;   
}

label {
    float: left;
}
input {
    width: 150%;
    height: 3vh;
}
.btn {
    margin: auto;
    display: block;
    height: 35px;
    width: 150px;
    font-size: large;
    font-family: monospace;
    cursor: pointer;
    background-color: rgb(30, 90, 149);
    color: #fff;
    margin-top: 20px;
}
   
.btn:hover{
    background-color: lightslategray;
    color: #000;
}

a {
    color: #fff;
    padding: 15px;
    width: 200px;
    margin-left: 30px;
    margin-top: 10px; 
    font-size: smaller;
}