<div class="mycontainer">
    <div class="card text-white">
        <div class="card-header">
            <h2>Weather in {{city}}</h2>
            <p><img src="{{iconURL}}" alt="weather image"></p>
        </div>
        <div class="card-body">
            <p class="card-text"><img src="/assets/summary.png"> Summary: {{summary}}</p>
            <p class="card-text"><img src="/assets/temperature.png"> Temperature: {{temperature}} °F</p>
            <p class="card-text"><img src="/assets/feelslike.png"> Feels like: {{feelsLikeTemp}} °F</p>
            <p class="card-text"><img src="/assets/pressure.png"> Pressure: {{pressure}} hPa</p>
            <p class="card-text"><img src="/assets/humidity.png"> Humidity: {{humidity}} %</p>
        </div>
    </div>
</div>
